img{
    height: 100px;
    float: left;
}
.contenu{
    height: 400px;
    background-image: url(../images/img-ct.jpg);
}
.content{
    position: relative;
    top: 25%;
    left: 10%;
    height: 65%;
    width: 40%;
    background-color: #FFC000;
left: calc(40% - 279px/2 + 1.5px);
top: calc(50% - 275.86px/2 + 19.07px);

background: rgba(255, 192, 0, 0.69);
}
.connexion{
    position: absolute;
   left: 210px;
   top: -20px;
   border-radius: 50%;

}
.input-form{
    margin: 25px 30px 25px;
}
.form-control{
    height: 40px;
    width: 95%;
    color: silver;
    border-radius: 5px;
    border: 1px solid silver;
    padding: 10px;
    font-weight: bold;
    
}
.error-form{
    color: red;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
}
.icon-form{
    background-image: url(../icones/ic-login.png);
    height: 20px;
    background-repeat: no-repeat;
    position: relative;
    left: 92%;
    top: 40px;

}
.pass-form{
    background-image: url(../icones/ic-pass.jpg);
    height: 20px;
    background-repeat: no-repeat;
    position: relative;
    left: 92%;
    top: 40px;

}
.btn-form{
    background-color: skyblue;
    height: 40px;
    width: 30%;
    border-radius: 5px;
    border: 1px solid skyblue;
    padding: 10px;
    font-weight: bold;
    color: white;
    font-size: 20px;

}
.link-form{
    margin-left: 25px;
    font-size: 20px;
    text-decoration: none;
}
